*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(187,173,160,255);
}

.scoreboard {
  text-align: center;
  margin-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}

.grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(4, 6rem);
  margin: 150px;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(187,173,160,255);
  border-color: white;
  border-radius: 10px;
  margin: 2px;
  background-color: rgba(187,173,160,255);
}